/* ============================================================================
   LAYOUT -> TEMPLATE -> HEADER
   ========================================================================= */

/**
 * The site header.
 */


.l-header {
    background-color: hotpink;
    height: 100vh;
    position: fixed;
    width: 143px;
}


/**
 * Logo.
 */

.l-header__logo {
    display: block;
}
