<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FED || Dead—a bunch of passionate frontend devs</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header class="l-header" role="banner">
        <a href="/">
            <img src="img/logo.svg" alt="FED || Dead logo" class="l-header__logo">
        </a>
    </header>
    {{!-- //Header --}}


    <main class="l-container" role="main">

        <p>FED || Dead is a bunch of passionate frontend developers.</p>
        {{!-- //Intro --}}

        <article>
            <h1>Writing</h1>
            <ol class="c-posts">
                {{#posts}}
                <li class="c-posts__item">
                    <a href="{{url}}" rel="external" class="c-posts__link">
                        <h2 class="c-posts__title">{{title}}</h2>
                        <dl class="c-posts__meta">
                            <dt class="c-posts__meta-label">Author:</dt>
                            <dd class="c-posts__meta-value">{{author}}</dd>
                            <dt class="c-posts__meta-label">Publish date:</dt>
                            <dd class="c-posts__meta-value">
                                <time datetime="">{{published_date}}</time>
                            </dd>
                            <dt class="c-posts__meta-label">Publication:</dt>
                            <dd class="c-posts__meta-value">{{platform}}</dd>
                        </dl>
                        <p class="c-posts__summary">{{summary}}</p>
                    </a>
                </li>
                {{/posts}}
            </ol>
        </section>
        {{!-- //Posts --}}

    </main>
    {{!-- //Container --}}

</body>
</html>
